.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.nav-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.nav-container img {
	margin-right: 1em;
}

.nav {
	display: flex;
	flex-direction: row;
	font-family: 'Share Tech Mono', monospace;
	border-radius: 1em;
	padding: 0.5em;
}

.nav p {
	padding: 0.5em;
	border-radius: 1em;
	background-color: crimson;
	color: white;
	margin: 0.3em;
}

#cases {
	background-color: black;
}

#recovered {
	background-color: green;
}

#foreign {
	background-color: mediumpurple;
}

#indian {
	background-color: orange;
}

.table-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

@media only screen and (max-width: 900px) {
	.container {
		display: block;
	}
	.table-container {
		flex-direction: column;
		justify-content: space-evenly;
	}
	.nav p {
		font-size: 0.5em;
	}
}

@media only screen and (max-width: 360px) {
	.nav p {
		font-size: 0.5em;
	}
}
